{% extends 'base.html' %}
{% block title %} 
  Записи сообщества {{ group }}
{% endblock %}
{% block content %}
  {% for post in posts %}
    <div class="container py-5">
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
      </article>
    </div>
      {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
{% endblock %}